<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3fc7a877-a084-43d9-8913-8d160cc10a76/resourcegroups/DefaultResourceGroup-null/providers/Microsoft.Web/sites/GuardDBcallsAPI20251020205514</ResourceId>
    <ResourceGroup>DefaultResourceGroup-null</ResourceGroup>
    <ApiResourceId>/subscriptions/3fc7a877-a084-43d9-8913-8d160cc10a76/resourceGroups/DefaultResourceGroup-null/providers/Microsoft.ApiManagement/service/GuardDBcallsAPIapi/apis/GuardDBcallsAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://guarddbcallsapi20251020205514-ashjhkfgfnbkdvha.uaenorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>880dca50-d470-4fb9-8ac3-91eff3083055</ProjectGuid>
    <MSDeployServiceURL>guarddbcallsapi20251020205514-ashjhkfgfnbkdvha.scm.uaenorth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GuardDBcallsAPI20251020205514</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>